
.go-top button{
      width: 50px;
      height: 50px;
      background-image: url('/assets/imagenes/arrowUp.png');
      background-repeat: no-repeat;
      background-size: cover;
      border: 3px 1px 1px;
      border-radius: 50%;
      background-color: #30E3E3;
      box-shadow: 0px 8px 20px #cf1c1c;
      box-shadow: 0px -8px -20px #cf1c1c;
}

@-webkit-keyframes rebote {
      16.65% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
      }
      33.3% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
      }
      49.95% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
      }
      66.6% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
      }
      83.25% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
      }
      100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
    }
    @keyframes rebote {
      16.65% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
      }
      33.3% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
      }
      49.95% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
      }
      66.6% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
      }
      83.25% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
      }
      100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
    }
    .rebote {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    }
    .rebote:hover, .rebote:focus, .rebote:active {
      -webkit-animation-name: rebote;
      animation-name: rebote;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
    }

    @media only screen and (max-width: 800px){
      .go-top button{
        width: 30px;
        height: 30px;
      }
    }