.grafico-barra{
    width: 85%;
    height: 30px;
    display: flex;
    margin:1em auto;
    align-content: stretch;
    flex-flow: row nowrap;
    background-color: rgb(182, 179, 179);
    flex: 1 0 auto;
    box-shadow: -8px 4px 10px rgba(48,227,227,.5);
    box-shadow: 8px -4px 10px rgba(48,227,227,.5);
    border: rgba(48,227,227) solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grafico-barra__tag{
    width: 280px;
    height: 100%;
    font-family: 'Anton', sans-serif;
    font-size: .9em;
    text-shadow: 1px rgb(24, 23, 23);            
    text-align: left;
    background-color: #38fafacb;
    color: #9C0000;
    flex: 1 .5 auto;
}
.grafico-barra__tag p{
    position: relative;
    top:-20px;
    left: 40px;
}
    .btn-size{
        height: 23px;
        position: relative;
        top: 3px;
        display: grid;
        place-items: center;
    }
    .btn-size img{
        position: relative;
        top: -3px;
    }
    .modal-body p{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1em;
        text-align: center;
        color: #000000;
    }
    .modal{
        background: rgba( 255, 255, 255, 0.15 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 5.5px );
    }
    .modal-content{
        background: rgba( 48, 227, 227, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 2px );
        border-radius: 10px;
        border: 2px solid #48E6E6;
    }
.grafico-barra__contenedor{
    width: 90%;
    height: 100%;
}
        .grafico-barra__relleno{
            height: 100%;
            background-color:#0a8b8b;
        }
.grafico-barra__porcentaje{
    position: relative;
    text-align: right;
    top: -25px;
    
}
.grafico-barra__info{
    display: flex;
    margin: auto;
    width: 80%;
    align-items: center;
    align-content: center;
}
.grafico-barra__info img{
    position: relative;
    top: -5px;
}
.grafico-barra__info p{
    text-align: center;
    font-weight: bolder;
    color: var(--color-2);
    transition: color .8s ease-in
}

@media only screen and (max-width: 800px){
    .wraper{
        position: relative;
        left: -40px;
    }
    .grafico-barra{
        width: 75vw;
        height: 20px;
        margin: .5em auto;
        box-shadow: -6px 4px 12px rgba(48,227,227,.5);
        box-shadow: 6px -4px 12px rgba(48,227,227,.5);
        border: rgba(48,227,227) solid 1px
    }
    .grafico-barra__tag{
        width: 145px;
        font-size: 8px;
        font-weight: 50;
    }
    .grafico-barra__tag p{
        position: relative;
        top:-10px;
        left: 20px;
    }
        .btn-size{
            height: 10px;   
            width: 8px;
        }
        .btn-size img{
            height: 15px;   
            width: 10px;
            top: -8px;
            left: -10px;
        }
        .modal-body p{
            font-size: 12px;
        }
    .grafico-barra__contenedor{
        width: 90%;
    }
    .grafico-barra__porcentaje{
        font-size: 15px;
        top: -22px;
        
    }
    .grafico-barra__info p{
        font-size: 10px;
        padding-left: 10px;
    }
    .grafico-barra__info{
        width: 70vw;
    }
    .grafico-barra__info img{
        top: -5px;
        width: 20px;
        height: auto;
    }
}