<footer>
<div class="content">
        <form action="https://formsubmit.co/leon.cba09@gmail.com" method="POST">
            <div>
                <h5>Formulario de Contacto</h5>
                <br>
                <div class="mb-3">
                <label for="FormControlInput1" class="form-label"><h6>Nombre y Apellido</h6></label>
                <input type="text" class="form-control" id="FormControlInput1" placeholder="Juan Perez" name="nombre" required>
            </div>
            <div>
                <label for="FormControlInput2" class="form-label"><h6>Dirección Email</h6></label>
                <input type="email" class="form-control" id="FormControlInput2" placeholder="name@example.com" name="email" required>
            </div>
            <br>
            <div class="mb-3">
                <label for="FormControlTextarea1" class="form-label"><h6>Escriba el asunto de contacto</h6></label>
                <textarea class="form-control" id="FormControlTextarea1" rows="2" name="asunto" required></textarea>
            </div> 
            <div>
                <input class="btn btn-primary" type="submit" value="Enviar">
            </div>
        </div>
        <input type="hidden" name="_next" value="http://localhost:4200/portfolio">
        <input type="hidden" name="_autoresponse" value="Muchas gracias por escribir, su consulta será analizada y me estaré comunicando a la brevedad">
        <input type="hidden" name="_template" value="box">
        <input type="hidden" name="_subject" value="Nuevo mensaje de: Portfolio LH">
    </form> 
    <app-top-btn></app-top-btn>
</div>
</footer>