<footer>
    <form method="post">
        <div>
            <h5>Formulario de Contacto</h5>
            <br>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label"><h6>Nombre y Apellido</h6></label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Juan Perez">
            </div>
            <div>
                <label for="exampleFormControlInput1" class="form-label"><h6>Dirección Email</h6></label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <br>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label"><h6>Escriba el asunto de contacto</h6></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
            </div> 
            <div>
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
        </div>
    </form> 
</footer>