.parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, .5fr);
    grid-column-gap: 0;
    grid-row-gap: 5px;
    font-family: 'Anton', sans-serif;
    text-shadow: 2px 2px 1px #30E3E3;
    text-align: center;
    letter-spacing: .1em;
    color: hwb(0 0% 100% / 0.527);
    }    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 2 / 1 / 3 / 2; }
h2{     
    font-size: 5rem;
    font-weight: 3rem;
}
h1{ 
    font-size: 6rem;
    font-weight: 4rem;
}