<div class="contenedor__skill">
    <div class="fondo" *ngFor="let idiomas of lenguageList" data-aos="flip-left"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="2000" data-aos-anchor-placement="top-center" data-aos-once="true">
        <div class="skill__grafico" [style]="'background-image: conic-gradient(' + idiomas.color + ' ' + idiomas.porcentaje + '%, transparent 0'">
            <div class="skill__grafico-div">
                <span>{{idiomas.porcentaje}}%</span><span>{{idiomas.tag}}</span>
            </div>
        </div>
        <app-edit *ngIf="displayEdit" (click)="onEdit(idiomas.id)"></app-edit>
        <app-delete *ngIf="displayDelete"  (click)="onDelete(idiomas.id)"></app-delete>
    </div>
</div>

<app-crud 
(statusBtnDelete)="onDisplayDelete( $event )"
(statusBtnNew)="onDisplayNew( $event )"
(statusBtnEdit)="onDisplayEdit( $event )" 
></app-crud>

<app-form-lengua *ngIf="displayNew || displayEdit"
 [object]="datos"
 [onSet]="displayEdit" ></app-form-lengua>
