<div class="contenedor__skill" >
    <div class="fondo" *ngFor="let idiomas of lenguageList" data-aos="flip-left"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="2000" data-aos-anchor-placement="top-center" data-aos-once="true">
        <div class="skill__grafico" [style]="'background-image: conic-gradient(' + idiomas.color + ' ' + idiomas.porcentaje + '%, transparent 0'">
            <div class="skill__grafico-div">
                <span>{{idiomas.porcentaje}}%</span><span>{{idiomas.tag}}</span>
            </div>
        </div>
        <app-edit (click)="onEdit(idiomas.id)"></app-edit>
        <app-delete  (click)="onDelete(idiomas.id)"></app-delete>
    </div>
</div>
<app-crud></app-crud>
<app-form-lengua [object]="datos"></app-form-lengua>
