<section class="experiencia__encabezado">
    <div id="title_school" >
        <img src="./assets/imagenes/libro.png" alt="libro">
        <h2>FORMACIÓN ACADÉMICA</h2>
    </div>
    <div class="blank page"></div>
<div class="accordion accordion-shadow" id="accordion-school" data-aos="zoom-in"
 data-aos-duration="1500" data-aos-anchor-placement="bottom-bottom" data-aos-once="true">
    <div class="accordion-item" *ngFor="let school of academica">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed accordion-fondo" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#item-academica-' + school.id" >
                
                <div class="box-edition">
                    <app-edit *ngIf="displayEdit" (click)="onEdit(school.id)"></app-edit>
                    <app-delete *ngIf="displayDelete" (click)="onDelete(school.id)"></app-delete>
                </div>

                <h3>{{school.titulo_tag}}</h3>
            </button>
        </h2>
            <div [id]="'item-academica-' + school.id" class="accordion-collapse collapse accordion-fondo" aria-labelledby="headingOne" data-bs-parent="#accordion-school">
                <div class="accordion-body flex-grid">
                    <div class="img mb-3"> 
                        <img [src]="school.logo" alt="logo instituto">
                    </div>
                    <div class="experiencia__contenido-div">
                        <span class="mb-3">institución</span>
                            <h5>{{school.instituto}}</h5>
                        <span class="mb-3">carrera</span>
                            <h5 class="mb-3">{{school.carrera}}</h5>
                        <span class="mb-3">estado</span>
                            <h5>{{school.estado}}</h5>
                        <span class="mb-3">ingreso/salida</span>
                            <h5>{{school.ingreso}}</h5>
                    </div>
                </div>
            </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed accordion-fondo" type="button" data-bs-toggle="collapse" data-bs-target="#item-extra">
            <h3>ACTIVIDADES EXTRACURRICULARES</h3>
            </button>
        </h2>
        <div id="item-extra" class="accordion-collapse collapse accordion-fondo" aria-labelledby="headingTwo" data-bs-parent="#accordion-school">
            <div class="accordion-body">

                <app-crud 
                (statusBtnDelete)="onDisplayDelete( $event )"
                (statusBtnNew)="onDisplayNew( $event )"
                (statusBtnEdit)="onDisplayEdit( $event )" 
                ></app-crud>

                <app-form-extra *ngIf="displayNew || displayEdit"
                 [object]="datos"
                 [onSet]="displayEdit" ></app-form-extra>
                
                <div class="extra-box" *ngFor="let ex of extra">

                    <app-edit *ngIf="displayEdit" (click)="onEditExtra(ex.id)"></app-edit>
                    <app-delete *ngIf="displayDelete" (click)="onDeleteExtra(ex.id)"></app-delete>

                    <div  class="experiencia__contenido-div">
                        <span class="mb-3">{{ex.tipo}}</span>
                        <h5>{{ex.actividad}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-crud 
(statusBtnDelete)="onDisplayDelete( $event )"
(statusBtnNew)="onDisplayNew( $event )"
(statusBtnEdit)="onDisplayEdit( $event )" 
></app-crud>

<app-form-academica *ngIf="displayNew || displayEdit"
 [object]="datos"
 [onSet]="displayEdit" ></app-form-academica>
</section>