#navbar-sticky {
    position: sticky;
    top: 0;
    z-index: 3000;
    max-width: 100%;
}
#navbarNavDarkDropdown{
    padding: 0 1em;
}
#container_item{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-item{
    cursor: pointer;
}
#logout{
    margin-left: auto;
}
@media only screen and (max-width: 300px){
    #btn-edition{
        display: none;
    }
}