<div id="navbar-sticky">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid"> <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
          <div class="navbar-collapse collapse" id="navbarNavDarkDropdown">
              <ul id="container_item" class="navbar-nav navbar-collapse me-auto mb-2 mb-lg-0">
                  <li *ngIf="isAdmin" class="nav-item"> 
                     <button id="btn-edition" (click)="activar_edition()" type="button" 
                     [class]="displayEdition? 'btn btn-danger' : 'btn btn-primary'"> 
                        <span class="fa-solid fa-pen-to-square"></span>
                     {{displayEdition? 'Salir de Edición' : 'Modo Edición'}}
                     </button>
                  </li>
                  <li class="nav-item"> <a class="nav-link" aria-current="page" (click)="goAbout()">Sobre Mí</a></li>
                  <li class="nav-item dropdown"> 
                    <a class="nav-link dropdown-toggle" id="navbar-dropdown__experiencia" 
                    role="button" data-bs-toggle="dropdown" aria-expanded="false"> Experiencia</a>
                      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbar-dropdown__experiencia">
                          <li><a class="dropdown-item" (click)="goJob()">Experiencia Laboral</a></li>
                          <li><a class="dropdown-item" (click)="goSchool()">Área Académica</a></li>
                      </ul>
                  </li>
                  <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" id="navbar-dropdown__skill" 
                    role="button" data-bs-toggle="dropdown" aria-expanded="false"> Skills </a>
                      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbar-dropdown__skill">
                          <li><a class="dropdown-item" (click)="goProgramacion()">Lenguajes de Programación</a></li>
                          <li><a class="dropdown-item" (click)="goProgramas()">Programas</a></li>
                          <li>
                              <hr class="dropdown-divider">
                          </li>
                          <li><a class="dropdown-item" (click)="goSoft()">Soft Skill</a></li>
                      </ul>
                  </li>
                  <li class="nav-item"> <a class="nav-link" aria-current="page" (click)="goProyectos()">Proyectos</a> </li>
                  <li class="nav-item"> <a class="nav-link" aria-current="page" (click)="goContacto()">Contacto</a> </li>
                  <li class="nav-item">
                      <app-night-mode></app-night-mode>
                  </li>
                  <li id="logout" class="nav-item"> 
                    <button (click)="onLogOut()" type="button" 
                    class="btn btn-primary"> 
                       <span class="fa-solid fa-door-open"></span>
                    Cerrar Sesión
                    </button>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
</div>