#navbar-sticky {
    position: sticky;
    top: 0;
    z-index: 3000;
    width: 100vw;
}
#navbarNavDarkDropdown{
    padding: 0 2em;
}
#container_item{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-item{
    cursor: pointer;
}
#logout{
    margin-left: auto;
}