<div class="box-new">
    <button *ngIf="onSet" class="btn btn-warning btn-edit" (click)="Set()">Setear Valores</button> 
    <hr>
    <form [formGroup]="addJob" (ngSubmit)="SaveJob()">
        <div class="input-group mb-3">
            <span class="input-group-text">Trabajo</span>
            <input type="text" class="form-control" placeholder="Nombre de la empresa o emprendimiento"
            formControlName="job">
        </div>
        
        <div class="input-group mb-3">
            <span class="input-group-text">Cargo</span>
            <input type="text" class="form-control" placeholder="puesto que desempeño"
            formControlName="cargo">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Funciones</span>
            <textarea class="form-control" id="FormControlTextarea1" rows="2"
            formControlName="funciones"></textarea>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Ingreso / Salida</span>
            <input type="text" class="form-control" placeholder="Ej: dd/mm/aaaa hasta dd/mm/aaaa"
            formControlName="ingreso_salida">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">contacto</span>
            <input type="text" class="form-control"
            formControlName="contacto">
        </div>

        <input type="hidden" name="datos_id" 
        formControlName="datos_id"> 
        
    <div class="col-12">
        <button type="submit" [class]="editMode? 'btn btn-warning':'btn btn-primary'">{{editMode? 'Editar Trabajo':'Crear Trabajo(+)'}}</button>
    </div>
    </form>
</div>