<div class="box-new">
    <button *ngIf="onSet" class="btn btn-warning btn-edit" (click)="Set()">Setear Valores</button> 
    <hr> 
    <form [formGroup]="addLengua" (ngSubmit)="SaveLengua()">
        <div class="input-group mb-3">
            <span class="input-group-text">Tag</span>
            <input type="text" class="form-control" placeholder="Nombre de la etiqueta"
            formControlName="tag">
        </div>
        
        <div class="input-group mb-3">
            <span class="input-group-text">Porcentaje</span>
            <input type="number" class="form-control" placeholder="0-100"
            formControlName="porcentaje">
        </div>
        
        <div class="input-group mb-3">
            <span class="input-group-text">Elije un Color</span>
            <input type="color" class="form-control form-control-color" title="Choose your color" 
            formControlName="color">
        </div>

        <input type="hidden" name="datos_id" 
        formControlName="datos_id"> 
        
    <div class="col-12">
        <button type="submit" [class]="editMode? 'btn btn-warning':'btn btn-primary'">{{editMode? 'Editar Grafico':'Crear Grafico(+)'}}</button>
    </div>
    </form>
</div>