app-form-academica{
    display: var(--display-5);
}
section{
    font-weight: 1em;
    font-size: 14px;
    padding: 1em;
    margin: auto;
    flex: auto;    
    text-align: left;
    width: 80%;
}
app-delete{
    display: flex;
    justify-self: center ;
    align-self: center;
    margin-right: 5px;
    margin-bottom: 5px;
}
.img{
    width: 300px;
    height: 200px;
    margin: 0 auto;
    display: flex;
}
.img img{
    width: 100%;
    height: auto;
    object-fit: contain;
}
.flex-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.experiencia__contenido-div{
display: grid;
grid-template-columns: .3fr 1fr;
grid-auto-rows: minmax(50px, auto);
grid-column-gap: 20px;

}
span{
    height: 35px;
    width: 120px;
    line-height: 1;
    padding: .6em;
    background: linear-gradient(to left,#30E3E3, #118181);
    border-radius: 0 100px 100px 0;
    box-shadow: -4pt 2pt 4pt 2pt #881212;
    font-weight: bolder;
    text-align: center;
}

.accordion-shadow{
    border: #118181 solid 3px;
    box-shadow: 0 9px 25px 0px  rgba(48,227,227,.5);
}
.accordion-fondo{
    background-color: var(--color-1);
    transition: background .8s ease-in;
  }