<section class="experiencia__encabezado">
    <app-title-academica></app-title-academica>
    <br><br>
<div class="accordion accordion-shadow" [id]="'accordion-school-' + academica.id" data-aos="zoom-in"
data-aos-duration="1500" data-aos-anchor-placement="top-center" data-aos-once="true">
    <div class="accordion-item" *ngFor="let school of academica">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed accordion-fondo" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#item-academica-' + school.id" >
                <app-delete  (click)="onDelete(school.id)"></app-delete>
                <h3>{{school.tituloTag}}</h3>
            </button>
        </h2>
            <div [id]="'item-academica-' + school.id" class="accordion-collapse collapse" aria-labelledby="headingOne" [attr.data-bs-parent]="'#accordion-school-' + school.id">
                <div class="accordion-body flex-grid">
                    <div class="img"> 
                        <img [src]="school.logo" alt="logo instituto">
                    </div>
                    <div class="experiencia__contenido-div">
                        <span>institución</span>
                            <p>{{school.instituto}}</p>
                        <span>carrera</span>
                            <p>{{school.carrera}}</p>
                        <span>estado</span>
                            <p>{{school.estado}}<b>{{school.estadoAnexo}}</b></p>
                        <span>ingreso/salida</span>
                            <p>{{school.ingreso}}</p>
                    </div>
                </div>
            </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed accordion-fondo" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#item-extra-' + extra.id">
            <h3>ACTIVIDADES EXTRACURRICULARES</h3>
            </button>
        </h2>
        <div [id]="'item-extra-' + extra.id" class="accordion-collapse collapse" aria-labelledby="headingTwo" [attr.data-bs-parent]="'#accordion-school-' + extra.id">
            <div class="accordion-body">
                <div class="extra-box" *ngFor="let ex of extra">
                    <app-delete  (click)="onDeleteExtra(ex.id)"></app-delete>
                    <div  class="experiencia__contenido-div">
                        <span>{{ex.tipo}}</span>
                        <p>{{ex.actividad}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-crud></app-crud>
<app-form-academica></app-form-academica>
</section>