<section>
    <div class="contenedor-btn-social">
        <ul>
            <li *ngFor="let social of socialList">

                    <a [href]="social.url" target="_blank" [title]="social.red_social">
                        <span [style]="'background: ' + social.color"></span>
                        <span [style]="'background: ' + social.color"></span>
                        <span [style]="'background: ' + social.color"></span>
                        <span [style]="'background: ' + social.color"></span>
                        <span [style]="'background: ' + social.color" [class]="social.btn"></span>
                    </a>
                    <app-edit *ngIf="displayEdit" (click)="onEdit(social.id)"></app-edit>
                    <app-delete *ngIf="displayDelete" (click)="onDelete(social.id)"></app-delete>
            </li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <app-crud 
    (statusBtnDelete)="onDisplayDelete( $event )"
    (statusBtnNew)="onDisplayNew( $event )"
    (statusBtnEdit)="onDisplayEdit( $event )" 
    ></app-crud>
    <br>
    <app-form-btn *ngIf="displayNew || displayEdit"
    [object]="datos"
    [onSet]="displayEdit" ></app-form-btn>
</section>