app-top-btn{
    position: sticky;
    top: 80vh;
    left: 90vw;
    z-index: 1000;
}
@media only screen and (max-width: 600px){
    app-top-btn{
        position: sticky;
        top: 90vh;
        left: 87vw;
    }            
}
@media only screen and (max-width: 350px){
    app-container-btn-rs{
        display: none;
    }
}
