app-top-btn{
    position: sticky;
    top: 80%;
    left: 90%;
    z-index: 1000;
}
section{
    max-width: 100%;
}
@media only screen and (max-width: 600px){
    app-top-btn{
        display: none;
    }            
}
@media only screen and (max-width: 350px){
    app-container-btn-rs{
        display: none;
    }
}
