<app-header-banner></app-header-banner>
<app-navbar-sticky></app-navbar-sticky>
    <section> 
        <div class="blank page"></div>
        <app-about-me id="index-about"></app-about-me>
        <app-container-btn-rs></app-container-btn-rs>
        <app-top-btn></app-top-btn>
        <div class="blank page"></div>
        <app-experiencia-laboral id="index-laboral"></app-experiencia-laboral>
        <div class="blank page"></div>
        <app-info-academica id="index-academica"></app-info-academica>
        <div class="blank page"></div>
        <app-skill></app-skill>
        <div class="blank page"></div>
        <app-projects id="index-projects"></app-projects>
        <div class="blank page"></div>
    </section>
<app-footer id="index-contacto"></app-footer>