<section>
    <div id="title_skill">
        <img src="./assets/imagenes/herramientas-de-diseno.png" alt="soft and hard skill">
        <h2>HABILIDADES DURAS/BLANDAS</h2>
    </div> 
    <div class="blank page" id="index-programing"></div>
    <h3>LENGUAJES DE PROGRAMACIÓN</h3>
    <hr>
    <br>
    <app-programing></app-programing>
    <div class="blank page" id="index-programs"></div>
    <h3>PROGRAMAS INFORMATICOS</h3>
    <hr>
    <br>
    <app-programs></app-programs>
    <div class="blank page" id="index-soft"></div>
    <h3>SOFT SKILLS</h3>
    <hr>
    <br>
    <app-soft></app-soft>
</section>