section{
    font-weight: 1em;
    font-size: 1.1em;
    padding: 2em;
    margin: auto;
    flex: auto;    
    text-align: left;
    width: 85%;
}
#title_skill{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
}
#title_skill img{
    filter: drop-shadow(5px 8px 20px var(--shadow-1));
    filter: drop-shadow(-5px -8px 20px var(--shadow-1));
    transition: .8s ease-in;
 }
 @media only screen and (max-width: 600px){
    #title_skill img{
        width: 80px;
        height: auto;
     }
}
@media only screen and (max-width: 300px){
    #title_skill img{
        display: none;
     }
}