<div class="contenedor-btn-social"> 
    <ul>
        <li *ngFor="let social of socialList">

            <app-edit (click)="onEdit(social.id)"></app-edit>
            <app-delete  (click)="onDelete(social.id)"></app-delete>

                <a [href]="social.url" target="_blank" [title]="social.redSocial">
                    <span [style]="'background: ' + social.color"></span>
                    <span [style]="'background: ' + social.color"></span>
                    <span [style]="'background: ' + social.color"></span>
                    <span [style]="'background: ' + social.color"></span>
                    <span [style]="'background: ' + social.color" [class]="social.btn"></span>
                </a>
        </li>
    </ul>
</div>
<app-crud></app-crud>
<br>
<app-form-btn [object]="datos"></app-form-btn>