    <div class="contenedor__skill" >
        <div *ngFor="let programacion of programingList" data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000" data-aos-anchor-placement="top-center" data-aos-once="true">
            <div class="skill__grafico" [style]="'background-image: conic-gradient(' + programacion.color + ' ' + programacion.porcentaje + '%, transparent 0'">
                <div class="skill__grafico-div">
                    <span>{{programacion.porcentaje}}%</span><span>{{programacion.tag}}</span>
                </div>
            </div>
            <app-edit *ngIf="displayEdit" (click)="onEdit(programacion.id)"></app-edit>
            <app-delete *ngIf="displayDelete" (click)="onDelete(programacion.id)"></app-delete>
        </div>
    </div>

    <app-crud 
    (statusBtnDelete)="onDisplayDelete( $event )"
    (statusBtnNew)="onDisplayNew( $event )"
    (statusBtnEdit)="onDisplayEdit( $event )" 
    ></app-crud>

<app-form-programing *ngIf="displayNew || displayEdit"
 [object]="datos"
 [onSet]="displayEdit" ></app-form-programing>
