.login-body{
    position: relative;
    height: 100vh;
    margin: 0;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login__content-form{
    width: 500px;
    height: 320px;
    z-index: 1000;
}
form{
    width: 100%;
    height: 100%;
    border: 2px solid #48E6E6;
    border-radius: 30px;
    padding: 1em 2em;
    box-sizing: border-box;
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1.5px );
    border-radius: 10px;
}
i{
    width: 35px;
    height: 35px;
    font-size: 30px;
    color: #010505;
    margin-right: 10px;
}
label{
    color: #010505;
}
.login__content-video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}
.login__content-video video{
    position: relative;
    top: 50%;
    left: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
}
