<section class="login-body">
      
        <div class="login__content-video">
            <video [muted]="true" autoplay loop>
                <source src="./assets/videos/video-login.mp4" type="video/mp4">
                <source src="./assets/videos/video-login.webm" type="video/webm"> 
                <source src="./assets/imagenes/bannerPortfolio.png" type="image/png">
            </video>
        </div>
<div class="Logged_menssage mb-3" *ngIf="isLogged">
    <a class="nav-link active" routerLink="/portfolio"><h3>Ya has iniciado sesión</h3></a>
</div>
<div class="Logged_menssage mb-3" *ngIf="!isLogged">
    <a class="nav-link active" routerLink="/registro"><h3>No Tienes Un Usuario??</h3></a>
</div>
      
<div class="login__content-form">
    <form [formGroup]="login" (ngSubmit)="onLogin()" novalidate>
        <div class="mb-3 centrar">
            <label for="nombreUsuario" class="form-label user"><i class="fa-solid fa-user-secret"></i>Usuario</label>
            <input type="text" name="nombreUsuario" class="form-control" id="nombreUsuario" placeholder="ejemplo123"
            formControlName="nombreUsuario" required minlength="5">
        </div>
        
        <div *ngIf="login.touched && login.controls.nombreUsuario.errors" class="text-danger mb-3">Usuario debe contener min. 5 caracteres</div>

        <div class="mb-3 centrar">
            <label for="password" class="form-label"><i class="fa-solid fa-key"></i>Contraseña</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="abc123"
            formControlName="password" required minlength="8">
        </div>

        <div *ngIf="login.touched && login.controls.password.errors" class="text-danger mb-3">Contraseña debe poseer min. 8 caracteres</div>
      
         <div class="form-footer">
            <button class="btn__submit mb-3" type="submit" [disabled]="login.invalid">
                <span> </span>
                <span> </span>
                <span> </span>
                <span> </span>
                Confirmar Identidad
            </button>
        </div>
    </form>
        <div *ngIf="submitted && isLoginFail" class="alert alert-danger mt-3">*Error en el Login: {{errMsj}}</div>
    </div>
</section>