<section>
    <div class="wrap">
    <div id="title_job">
        <img src="./assets/imagenes/servicio.png" alt="trabajo">
        <h2>EXPERIENCIA LABORAL</h2>
    </div>
    <div class="blank page"></div>
    <div class="accordion accordion-shadow" id="accordionExample" 
    data-aos="zoom-in" data-aos-duration="1500" data-aos-anchor-placement="bottom-bottom" 
    data-aos-once="true">
        <div class="accordion-item" *ngFor="let jobs of jobsList">
            <h2 class="accordion-header" [id]="'item-' + jobs.id">
                <button class="accordion-button collapsed accordion-fondo" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse-' + jobs.id" [attr.aria-controls]="jobs.id">
                
                <div class="box-edition">
                    <app-edit *ngIf="displayEdit" (click)="onEdit(jobs.id)"></app-edit>
                    <app-delete *ngIf="displayDelete" (click)="onDelete(jobs.id)"></app-delete>
                </div>

                <h4>{{jobs.job}}</h4> 
                </button>
              </h2>
              <div [id]="'collapse-' + jobs.id" class="accordion-collapse collapse accordion-fondo" [attr.aria-labelledby]="'item-' + jobs.id" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="experiencia__contenido-div"> 
                            <span class="span-item mb-3">cargo</span> 
                                <h5>{{jobs.cargo}}</h5>
                            <span class="span-item mb-3">funciones</span>
                                <h5>{{jobs.funciones}}</h5>
                            <span class="span-item mb-3">ingreso/salida</span>
                                <h5>{{jobs.ingreso_salida}}</h5>
                            <span class="span-item mb-3">contacto</span>
                                <h5>{{jobs.contacto}}</h5>
                        </div>
                    </div>
              </div>
        </div>
    </div>

    <app-crud 
    (statusBtnDelete)="onDisplayDelete( $event )"
    (statusBtnNew)="onDisplayNew( $event )"
    (statusBtnEdit)="onDisplayEdit( $event )" 
    ></app-crud>

 <app-form-jobs *ngIf="displayNew || displayEdit" 
 [object]="datos"
 [onSet]="displayEdit" ></app-form-jobs> 
</div>
</section>
