<div>
    <div class="grafico-barra" data-aos="zoom-out" data-aos-duration="2000" data-aos-once="true" 
    *ngFor="let skill of softList">
        <div class="grafico-barra__tag" data-aos="fade-right" data-aos-duration="1400" data-aos-once="true">
        <!-- Button trigger modal -->
            <button type="button" class="btn btn-size" data-bs-toggle="modal" [attr.data-bs-target]="'#modal-'+ skill.id">
                <img src="assets/info-circle-fill.svg" alt="info">
            </button>
        {{skill.tag}}
        </div>
        <div class="grafico-barra__contenedor" data-aos="fade-left" data-aos-duration="1400" data-aos-once="true">
            <div class="grafico-barra__relleno" [style.width.%]="skill.porcentaje"></div>
            <div class="grafico-barra__porcentaje">{{skill.porcentaje}}%</div>
        </div>

        <app-edit *ngIf="displayEdit" (click)="onEdit(skill.id)"></app-edit> 
        <app-delete *ngIf="displayDelete" (click)="onDelete(skill.id)"></app-delete>

    </div>

    <app-crud 
    (statusBtnDelete)="onDisplayDelete( $event )"
    (statusBtnNew)="onDisplayNew( $event )"
    (statusBtnEdit)="onDisplayEdit( $event )"
    ></app-crud>
    
    <app-form-soft *ngIf="displayNew" [object]="datos"></app-form-soft>
    
    <div class="grafico-barra__info">
        <img src="assets/informacion.png" alt="info">
        <p>informe de resultados de <a href="https://app.mindsight.com.br/">app.mindsight.com</a> haga click <a href="https://app.mindsight.com.br/devolutiva/a3ed87c7-560d-4b28-82e8-c020301ebfbe/resultado/" target="_blank">aquí</a> para ver o descargar el estudio completo</p>
    </div>
</div>
<!-- Modal -->
<div *ngFor="let skill of softList">
    <div class="modal fade" [id]="'modal-' + skill.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
            <p>{{skill.modal}} <br><br> {{skill.beneficio}}</p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>  
</div>
