<div class="contenedor__skill" >
    <div class="fondo" *ngFor="let programas of programsList" data-aos="flip-left"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="2000" data-aos-anchor-placement="top-center" data-aos-once="true">
        <div class="skill__grafico" [style]="'background-image: conic-gradient(' + programas.color + ' ' + programas.porcentaje + '%, transparent 0'">
            <div class="skill__grafico-div">
                <span>{{programas.porcentaje}}%</span><span>{{programas.tag}}</span>
            </div>
        </div>
        <app-edit *ngIf="displayEdit" (click)="onEdit(programas.id)"></app-edit>
        <app-delete *ngIf="displayDelete" (click)="onDelete(programas.id)"></app-delete>
    </div>
</div>
<app-crud 
    (statusBtnDelete)="onDisplayDelete( $event )"
    (statusBtnNew)="onDisplayNew( $event )"
    (statusBtnEdit)="onDisplayEdit( $event )" 
></app-crud>

<app-form-program *ngIf="displayNew || displayEdit"
 [object]="datos"
 [onSet]="displayEdit" ></app-form-program>
