app-delete, app-edit{
    transform: scale(1.2);
    position: absolute;
    top: -20px;
}
app-edit{
    left: 50%;
}
app-delete{
    left: 70%; 
}
.contenedor__skill{
    display: flex;
    place-content: center;
    flex-flow: row wrap;
    gap: 5px;
}
.skill__grafico{
    height: 200px;
    width: 200px;
    box-shadow: 8px 8px 20px var(--shadow-1), -8px -8px 20px var(--shadow-1);
    border-radius: 50%;
    position: relative;
    display: grid;
    place-items: center;
    flex: 0 1 auto;
    margin: 1em 1em 2em 1em;
    color: #9C0000;
}
    .skill__grafico::before{
        content: "";
        position: absolute;
        height: 80%;
        width: 80%;
        border-radius: 50%;
        background-color: hsla(0, 0%, 100%, 0.856);
        box-shadow: inset 5px 5px 20px #80EEEE, inset -5px -5px 20px #118181;
}
.skill__grafico-div{
    font-size: 20px;
    z-index: 1;
    text-align: center;
    font-family: 'Anton', sans-serif;
    text-shadow: 1px 1px 2px #FF7D7D;
}
.skill__grafico-div span{
    display: block;
}
@media only screen and (max-width: 800px){   
    .skill__grafico{
        height: 100px;
        width: 100px;
        box-shadow: 4px 4px 10px var(--shadow-1), -4px -4px 10px var(--shadow-1);
        margin: 10px;
    }
    .contenedor__skill{
        gap: 3px;
    }
    .skill__grafico-div{
        font-size: 10px;
    }
    app-delete, app-edit{
        transform: scale(1);
        top: -10px;
    }
    app-edit{
        left: 60%;
    }
    app-delete{
        left: 90%; 
    }
}