<div class="contenedor__skill" >
    <div class="fondo" *ngFor="let programas of programsList" data-aos="flip-left"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="2000" data-aos-anchor-placement="top-center" data-aos-once="true">
        <div class="skill__grafico" [style]="programas.fill">
            <div class="skill__grafico-div">
                <span>{{programas.porcentaje}}</span><span>{{programas.tag}}</span>
            </div>
        </div>
    </div>
</div>
<app-crud></app-crud>