<div class="box-new"> 
    <button *ngIf="onSet" class="btn btn-warning btn-edit" (click)="Set()">Setear Valores</button> 
    <hr>
    <form [formGroup]="addAcademica" (ngSubmit)="SaveAcademica()">
        <div class="input-group mb-3">
            <span class="input-group-text">Nivel de estudio</span>
            <input type="text" class="form-control"
            formControlName="titulo_tag" required>
        </div>
        <div *ngIf="addAcademica.touched && addAcademica.controls.titulo_tag.errors" class="text-danger mb-3">Nivel es Requerido</div>

        
        <div class="input-group mb-3">
            <span class="input-group-text">Instituto</span>
            <input type="text" class="form-control"
            formControlName="instituto" required>
        </div>
        <div *ngIf="addAcademica.touched && addAcademica.controls.instituto.errors" class="text-danger mb-3">Instituto es Requerido</div>

        <div class="input-group mb-3">
            <span class="input-group-text">Carrera o Curso</span>
            <input type="text" class="form-control" 
            formControlName="carrera" required>
        </div>
        <div *ngIf="addAcademica.touched && addAcademica.controls.carrera.errors" class="text-danger mb-3">Carrera o Curso es Requerido</div>

        <div class="input-group mb-3">
            <span class="input-group-text">Estado</span>
            <input type="text" class="form-control" 
            formControlName="estado" required>
        </div>
        <div *ngIf="addAcademica.touched && addAcademica.controls.estado.errors" class="text-danger mb-3">Estado es Requerido</div>

        <div class="input-group mb-3">
            <span class="input-group-text">Ingreso / Salida</span>
            <input type="text" class="form-control" placeholder="Ej: dd/mm/aaaa hasta dd/mm/aaaa"
            formControlName="ingreso" required>
        </div>
        <div *ngIf="addAcademica.touched && addAcademica.controls.ingreso.errors" class="text-danger mb-3">Fecha es Requerido</div>

        <div class="input-group mb-3">
            <span class="input-group-text">Logo Instituto</span>
                <input type="file" class="form-control"
                (change)="uploadImage($event)"
                accept=".jpg, .jpeg, .png">
            <input type="hidden" formControlName="logo">
        </div>
        <div *ngIf="addAcademica.touched && !okAcademica" class="text-danger mb-3">Imagen es Requerido</div>
        <div class="d-flex justify-content-center mb-3">
            <span class="input-group-text">Vista Previa</span>
            <span class="input-group-text"><img [src]="this.imageService.academica" width="120px"></span>
            <span [class]="okAcademica? 'input-group-text okCard' : 'input-group-text' "><i *ngIf="okAcademica" class="fa-solid fa-circle-check"></i></span>
        </div>

        <input type="hidden" name="id"
        formControlName="id">
        
    <div class="col-12">
        <button type="submit" [class]="editMode? 'btn btn-warning':'btn btn-primary'"
        [disabled]="addAcademica.invalid">{{editMode? 'Editar Estudios':'Añadir Estudios(+)'}}</button>
    </div>
    </form>
</div>