<div class="box-new"> 
    <button *ngIf="onSet" class="btn btn-warning btn-edit" (click)="Set()">Setear Valores</button> 
    <hr>
    <form [formGroup]="addAcademica" (ngSubmit)="SaveAcademica()">
        <div class="input-group mb-3">
            <span class="input-group-text">Nivel de estudio</span>
            <input type="text" class="form-control"
            formControlName="titulo_tag" required>
        </div>
        
        <div class="input-group mb-3">
            <span class="input-group-text">Instituto</span>
            <input type="text" class="form-control"
            formControlName="instituto" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Cargar Imagen</span>
            <input type="text" class="form-control" placeholder="URL de la imagen"
            formControlName="logo" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Carrera o Curso</span>
            <input type="text" class="form-control" 
            formControlName="carrera" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Estado</span>
            <input type="text" class="form-control" 
            formControlName="estado">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Ingreso / Salida</span>
            <input type="text" class="form-control" placeholder="Ej: dd/mm/aaaa hasta dd/mm/aaaa"
            formControlName="ingreso">
        </div>

        <input type="hidden" name="id"
        formControlName="id">
        
    <div class="col-12">
        <button type="submit" [class]="editMode? 'btn btn-warning':'btn btn-primary'"
        [disabled]="addAcademica.invalid">{{editMode? 'Editar Estudios':'Añadir Estudios(+)'}}</button>
    </div>
    </form>
</div>