<div class="box-new">
    <form [formGroup]="addProgram" (ngSubmit)="SaveProgram()">
        <div class="input-group mb-3">
            <span class="input-group-text">Tag</span>
            <input type="text" class="form-control" placeholder="Nombre de la etiqueta"
            formControlName="tag">
        </div>
        
        <div class="input-group mb-3">
            <span class="input-group-text">Porcentaje</span>
            <input type="text" class="form-control" placeholder="0-100"
            formControlName="porcentaje">
        </div>
        
        <div class="input-group mb-3">
            <span class="input-group-text">Relleno</span>
            <input type="text" class="form-control" 
            formControlName="fill" list="fill-input">
            <datalist id="fill-input">
                <option value="background-image: conic-gradient(#30E3E3 0%, transparent 0)"></option>
                <option value="background-image: conic-gradient(#007676 0%, transparent 0)"></option>
                <option value="background-image: conic-gradient(#003737 0%, transparent 0)"></option>
            </datalist>
        </div>
        
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Crear Grafico(+)</button>
    </div>
    </form>
</div>