<div class="box-new">
    <form [formGroup]="addProgram" (ngSubmit)="SaveProgram()">
        <div class="input-group mb-3">
            <span class="input-group-text">Tag</span>
            <input type="text" class="form-control" placeholder="Nombre de la etiqueta"
            formControlName="tag">
        </div>
        
        <div class="input-group mb-3">
            <span class="input-group-text">Porcentaje</span>
            <input type="number" class="form-control" placeholder="0-100"
            formControlName="porcentaje">
        </div>
        
        <div class="input-group mb-3">
            <span class="input-group-text">Elije un Color</span>
            <input type="color" class="form-control form-control-color" title="Choose your color" 
            formControlName="color">
        </div>
        
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Crear Grafico(+)</button>
    </div>
    </form>
</div>