app-edit{
    display:flex;
    align-self: end;
    transform: scale(2.2);
    margin-bottom: 1em;
}
section{
    font-size:1.2em;
    margin:.5em 0;
    max-width: 100%;
    display: flex;
    place-items: center;
    flex-flow: column nowrap;
}
section small{
    display: inline-block;
    width: 80%;
    padding: 1em 2em;
    border: 1px dashed #a6b8b8;
}
.container{
    display:flex;
    flex-flow:row-reverse wrap;
    align-items:center;
    justify-content:center;
    gap:1.5em;
    margin-top: 1.5em;
}
.foto-perfil{
    width:340px;
    height:260px;
    background-size:cover;
    border-radius:25% 10%;
    border:8px solid #7DFFFF;
    box-shadow: 5px 5px 20px var(--shadow-1), -5px -5px 20px var(--shadow-1);
    flex:0 2 auto;
    transition: .8s ease-in;
}
p{
    display: inline-block;
    font-weight:400;
    font-size:1em;
    width:50%;
    margin:auto;
    flex: 2 0 auto;
    text-align: center;
    color:var(--color-2);
    transition:color .8s ease-in
}
.info span b{
    color:#27bbbb;
    font-size:1.1em;
    text-shadow:1px 1px 1px #031313
}
@media only screen and(max-width:800px){
    section{
        font-weight:.3em;
        font-size:.4em;
    }
    .container{
        margin-top:1em;
        flex-flow:column wrap;
    }
    .foto-perfil{
        width:280px;
        height:170px
    }
    .info span b{
    font-size:.4em
    }
}
@media only screen and (max-width: 300px){
    .foto-perfil{
        display: none;
    }
}
