app-form-about-me{
    display:var(--display-5)
}
app-edit{
    display:flex;
    align-self: end;
    transform: scale(2.2);
    margin-bottom: 1em;
}
section{
    font-weight:1em;
    font-size:1.2em;
    padding:.5em;
    margin:2em auto;
    flex:auto;
    text-align:left;
    width:85%;
}
.container{
    display:flex;
    flex-flow:row-reverse wrap;
    align-items:center;
    justify-content:center;
    gap:3em;
    margin-top:3em;
}
.foto-perfil{
    width:380px;
    height:270px;
    background-size:cover;
    border-radius:25% 10%;
    border:8px solid #7DFFFF;
    box-shadow:5px 5px 8px #118181,-5px-5px 8px #118181;
    flex:0 2 auto
}
p{
    font-family:'Catamaran',sans-serif;
    font-weight:599;
    font-size:1em;
    width:50%;
    flex:2 0 auto;
    text-align: center;
    color:var(--color-2);
    transition:color .8s ease-in
}
.info span b{
    color:#30E3E3;
    font-size:1.1em;
    text-shadow:1px 1px 1px #031313
}
@media only screen and(max-width:800px){
    section{
        font-weight:.3em;
        font-size:.4em;
        padding:1em;
        width:100%
    }
    .container{
        margin-top:1em;
        flex-flow:column wrap;
        width:100%
    }
    .foto-perfil{
        width:280px;
        height:170px
    }
    .info span b{
    font-size:.4em
    }
}