<header id="top-start">
           <div data-aos="flip-left"     
           data-aos-duration="1500" 
           data-aos-delay="2000" 
           data-aos-once="true">
           <img class="logo__img" src="./assets/imagenes/logos.png"></div>
           
           <div data-aos="flip-left" 
           data-aos-duration="1500" 
           data-aos-delay="2000"
           data-aos-once="true">
               <app-btn-ap></app-btn-ap>
            </div>
        
        <div class="parent zoomInDown animated" *ngFor="let datos of miPortfolio">
            <div class="div1"><h1>PORTFOLIO</h1></div>
            <div class="div2"><h1>{{datos.title_name}}</h1></div>
        </div>
</header>