<section>
    <app-title-skill></app-title-skill>
    <div class="blank page"></div>
    <h3>LENGUAJES DE PROGRAMACIÓN</h3>
    <br><br>
    <app-programing id="index-programing"></app-programing>
    <div class="blank page"></div>
    <h3>IDIOMAS</h3>
    <br><br>
    <app-language id="index-language"></app-language>
    <div class="blank page"></div>
    <h3>PROGRAMAS INFORMATICOS</h3>
    <br><br>
    <app-programs id="index-programs"></app-programs>
    <div class="blank page"></div>
    <h3>SOFT SKILLS</h3>
    <br><br>
    <app-soft id="index-soft"></app-soft>
</section>