<div class="box-new"> 
    <button class="btn btn-warning btn-edit" (click)="Set()">Setear Valores</button> 
    <hr>
    <form [formGroup]="addData" (ngSubmit)="EditData()">
        <div class="input-group mb-3">
            <span class="input-group-text">Titulo del Portfolio</span>
            <input type="text" class="form-control"
            formControlName="title_name" required>
        </div>
        <div *ngIf="addData.touched && addData.controls.title_name.errors" class="text-danger mb-3">Titulo es Requerido</div>

        <div class="input-group mb-3">
            <span class="input-group-text">Nombre Completo</span>
            <input type="text" class="form-control"
            formControlName="name" required>
        </div>
        <div *ngIf="addData.touched && addData.controls.name.errors" class="text-danger mb-3">Nombre es Requerido</div>

        <div class="input-group mb-3">
            <span class="input-group-text">Ubicación / Nacionalidad</span>
            <input type="text" class="form-control" 
            formControlName="ubicacion" required>
        </div>
        <div *ngIf="addData.touched && addData.controls.ubicacion.errors" class="text-danger mb-3">Ubicación es Requerido</div>

        <div class="input-group mb-3">
            <span class="input-group-text">Titulo de Carrera</span>
            <input type="text" class="form-control" 
            formControlName="school" required>
        </div>
        <div *ngIf="addData.touched && addData.controls.school.errors" class="text-danger mb-3">Carrera es Requerido</div>

        <div class="input-group mb-3">
            <span class="input-group-text">Foto de Perfil</span>
                <input type="file" class="form-control"
                (change)="uploadImage($event)"
                formControlName="perfil" 
                accept=".jpg, .jpeg, .png">
            <button *ngIf="editImg" class="btn btn-outline-primary" type="button" (click)="resetFile()">Resetear Foto</button>
        </div>
        <div class="d-flex justify-content-center">
            <span class="input-group-text">Vista Previa</span>
            <span class="input-group-text"><img [src]="imageService.url" width="120px"></span>
        </div>

        <input type="hidden" name="id"
        formControlName="id" required>
        
    <div class="col-12">
        <button type="submit" class="btn btn-warning"
        [disabled]="addData.invalid">Editar Datos</button>
    </div>
    </form>
</div>