<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Habilitar Edición de Contenido</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form>
            <div class="mb-3 centrar">
              <label for="username" class="form-label user"><i class="fa-solid fa-user-secret"></i>Usuario</label>
              <input type="text" class="form-control" id="username" placeholder="ejemplo123">
            </div>
            <div class="mb-3 centrar">
              <label for="password" class="form-label"><i class="fa-solid fa-key"></i>Contraseña</label>
              <input type="password" class="form-control" id="password" placeholder="abc123">
            </div>
            <div class="form-footer">
           <!-- <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Recordar Datos</label>
            </div>-->
            <button id="confirm" type="button" class="btn btn-primary" data-theme-btn>Confirmar Identidad</button>
          </div>
          </form>
          <div id="liveAlertPlaceholder"></div>

          <div class="msg">
              <div class="alert alert-success" role="alert">
                <i class="fa-solid fa-thumbs-up"></i> MODO EDICIÓN HABILITADO
              </div>
              <br>
              <button id="salir" type="button" class="btn btn-danger">Salir del modo edición</button>
          </div>
    </div>
  </div>