app-form-proyecto{
    display: var(--display-5);
} 
app-delete, app-edit{
    display: flex;
    justify-self: center ;
    align-self: center;
    margin-right: 5px;
    margin-bottom: 5px;
}
section{
    font-weight: 1em;
    font-size: 1.1em;
    padding: 1em;
    margin: auto; 
    text-align: left;
    width: 85%;
}
.wraper{
    margin: 2em auto;
}
.project_wraper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  overflow: hidden;
  font-family: sans-serif;
  transition: 0.25s;
}
.cards{
    display: flex;
    justify-content: center;
    max-width: 900px;
    width: calc(100% - 100px);
    height: 400px;
    gap: 25px;
    margin: 2em auto;
}
.cards .card .info .title{
    font-size: 1.2rem;
    color: #0a0a0a;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: 1px 1px 5px #9ff5f5;
}
.cards .card .label .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    height: 40px;
    background-color: #1f2324c9;
    border-radius: 50%;
    font-size: 25px;
}
.cards .card .label .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    white-space: pre;
    transition: 1s cubic-bezier(.05, .61, .41, .95);
    color: #e7f5f5;
    text-shadow: 1px 1px 2px #042b2b;
    font-weight: 700;
}
.cards .card{
    position: relative;
    min-width: 60px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: .5s cubic-bezier(.05, .61, .41, .95);
    border-radius: 30px;
}

.cards .card .label{
    display: flex;
    position: absolute;
    right: 0;
    height: 40px;
    transition: .5s cubic-bezier(.05, .61, .41, .95);
}
.cards .card.active .label{
    bottom: 20px;
    left: 20px;
}
.cards .card.active{
    background-size: cover;
    flex-grow: 10000;
    filter: drop-shadow(5px 5px 10px #30E3E3);
    filter: drop-shadow(-5px -5px 10px #30E3E3); 
}
.cards .card:not(.active) .label{
    bottom: 10px;
    left: 10px;
}
.cards .card .shadow{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: linear-gradient(0, #0004, transparent);
}
.cards .card.active .info{
    opacity: 1;
}
.cards .card.active:not(.active) .info{
    opacity: 0;
}
h5::first-letter{
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px #30E3E3;
    color: var(--color-2);
}
h5{
    color: var(--color-2);
    text-align: justify;
    font-weight: 400;
}