<section>
    <div class="wrap">

    <div id="title_project">
        <img src="./assets/imagenes/plano.png" alt="proyecto">
        <h2> MIS PROYECTOS</h2>
    </div> 
        <div class="blank page"></div>

    <div class="wraper" *ngFor="let proyecto of projectsList">
        <h3>{{proyecto.project_title}}</h3>
        <hr><br>
        <div class="project_wraper">
            <div class="cards"> 
                <div [id]="'card-1_project-' + proyecto.id" class="card"
                [ngClass]="{'active': addClass === 'card-1_project-' + proyecto.id}"
                [ngStyle]="{'background-image': 'url(' + proyecto.card_img_1 + ')'}" 
                (click)="setClasses('card-1_project-' + proyecto.id)"
                data-aos="fade-up-right" data-aos-duration="2000"
                data-aos-anchor-placement="center-center" data-aos-once="true" >
                    <div class="shadow"></div>
                    <div class="label">
                        <div class="icon flex-center" [style]="'color:' + proyecto.color_1">
                            <!--icono de fontaweson-->
                            <i [class]="proyecto.card_icon_1"></i>
                        </div>
                        <div class="info">
                            <div class="title">{{proyecto.card_title_1}}</div>
                            <div class="description" >{{proyecto.card_description_1}}</div>
                        </div>
                    </div>
                </div>

                <div [id]="'card-2_project-' + proyecto.id" class="card"
                [ngClass]="{'active': addClass === 'card-2_project-' + proyecto.id}" 
                [ngStyle]="{'background-image': 'url(' + proyecto.card_img_2 + ')'}" 
                (click)="setClasses('card-2_project-' + proyecto.id)" 
                data-aos="fade-up-right" data-aos-duration="2000"
                data-aos-anchor-placement="center-center" data-aos-once="true" >
                    <div class="shadow"></div>
                    <div class="label">
                        <div class="icon flex-center" [style]="'color:' + proyecto.color_2">
                            <!--icono de fontaweson-->
                            <i [class]="proyecto.card_icon_2"></i>
                        </div>
                        <div class="info">
                            <div class="title">{{proyecto.card_title_2}}</div>
                            <div class="description">{{proyecto.card_description_2}}</div>
                        </div>
                    </div>
                </div>

                <div [id]="'card-3_project-' + proyecto.id" class="card"
                [ngClass]="{'active': addClass === 'card-3_project-' + proyecto.id}" 
                [ngStyle]="{'background-image': 'url(' + proyecto.card_img_3 + ')'}" 
                (click)="setClasses('card-3_project-' + proyecto.id)" 
                data-aos="fade-up-left" data-aos-duration="2000"
                data-aos-anchor-placement="center-center" data-aos-once="true" >
                    <div class="shadow"></div>
                    <div class="label">
                        <div class="icon flex-center" [style]="'color:' + proyecto.color_3">
                            <!--icono de fontaweson-->
                            <i [class]="proyecto.card_icon_3"></i>
                        </div>
                        <div class="info">
                            <div class="title">{{proyecto.card_title_3}}</div>
                            <div class="description">{{proyecto.card_description_3}}</div>
                        </div>
                    </div>
                </div>

                <div [id]="'card-4_project-' + proyecto.id" class="card"
                [ngClass]="{'active': addClass === 'card-4_project-' + proyecto.id}" 
                [ngStyle]="{'background-image': 'url(' + proyecto.card_img_4 + ')'}" 
                (click)="setClasses('card-4_project-' + proyecto.id)"
                data-aos="fade-up-left" data-aos-duration="2000"
                data-aos-anchor-placement="center-center" data-aos-once="true" >
                    <div class="shadow"></div>
                    <div class="label">
                        <div class="icon flex-center" [style]="'color:' + proyecto.color_4">
                            <!--icono de fontaweson-->
                            <i [class]="proyecto.card_icon_4"></i>
                        </div>
                        <div class="info">
                            <div class="title">{{proyecto.card_title_4}}</div>
                            <div class="description">{{proyecto.card_description_4}}</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="box-edition">
                <app-edit *ngIf="displayEdit" (click)="onEdit(proyecto.id)"></app-edit>
                <app-delete *ngIf="displayDelete" (click)="onDelete(proyecto.id)"></app-delete>
            </div>
        <br>
        <h5>{{proyecto.project_text}}</h5>
        </div> 
    </div>

    <app-crud 
    (statusBtnDelete)="onDisplayDelete( $event )"
    (statusBtnNew)="onDisplayNew( $event )"
    (statusBtnEdit)="onDisplayEdit( $event )" 
    ></app-crud>

    <app-form-proyecto *ngIf="displayNew || displayEdit" 
    [object]="datos"
    [onSet]="displayEdit" ></app-form-proyecto>
</div>

</section>