app-delete, app-edit{
    transform: scale(1.8);
    margin-bottom: 1em;
}
.box-edition{
    display:flex;
    justify-content: center;
    justify-items: center;
    flex-flow: row wrap;
    gap: 30px;
}
section{
    font-weight: 1em;
    font-size: 1.1em;
    text-align: left;
    max-width: 100%;
    display: flex;
    place-items: center;
    flex-direction: column;
}
.wrap{
    width: 90%;
}
#title_project{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
}
#title_project img{
    position: relative;
    top: -15px;
    filter: drop-shadow(5px 8px 20px var(--shadow-1));
    filter: drop-shadow(-5px -8px 20px var(--shadow-1));
    transition: .8s ease-in;
}
.wraper{
    margin: 0 auto 2em auto;
}
.project_wraper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  overflow: hidden;
  font-family: sans-serif;
  transition: 0.25s;
}
.cards{
    display: flex;
    justify-content: center;
    max-width: 900px;
    width: calc(100% - 100px);
    height: 400px;
    gap: 25px;
    margin: 2em auto;
}
.cards .card .info .title{
    font-size: 1.2rem;
    color: #0a0a0a;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: 1px 1px 5px #9ff5f5;
}
.cards .card .label .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    height: 40px;
    background-color: #1f2324c9;
    border-radius: 50%;
    font-size: 25px;
}
.cards .card .label .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    white-space: pre;
    transition: 1s cubic-bezier(.05, .61, .41, .95);
    color: #e7f5f5;
    text-shadow: 2px 2px 2px #042b2b;
    font-weight: 900;
}
.cards .card{
    position: relative;
    min-width: 60px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: .5s cubic-bezier(.05, .61, .41, .95);
    border-radius: 30px;
    border: 1px solid #044444;
    box-shadow: 2px 2px 3px #044444, -2px -2px 3px #044444;
}

.cards .card .label{
    display: flex;
    position: absolute;
    right: 0;
    height: 40px;
    transition: .5s cubic-bezier(.05, .61, .41, .95);
}
.cards .card.active .label{
    bottom: 20px;
    left: 20px;
}
.cards .card.active{
    background-size: cover;
    flex-grow: 10000;
    box-shadow: 5px 5px 20px var(--shadow-1), -5px -5px 20px var(--shadow-1); 
}
.cards .card:not(.active) .label{
    bottom: 10px;
    left: 10px;
}
.cards .card .shadow{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: linear-gradient(0, #0004, transparent);
}
.cards .card.active .info{
    opacity: 1;
}
.cards .card.active:not(.active) .info{
    opacity: 0;
}
h5::first-letter{
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px #30E3E3;
    color: var(--color-2);
}
h5{
    color: var(--color-2);
    text-align: center;
    font-weight: 400;
}
@media only screen and (max-width: 1200px){
    section{
        width: 100%;
        padding: .5em;
    }
    .cards{
        height: 300px;
        gap: 20px;
    }
    .cards .card .label .info{
        font-size: .6em;
    }
    .cards .card .info .title{
        font-size: .8rem
    }
}
@media only screen and (max-width: 1000px){
    .project_wraper .cards{
        flex-direction: column;
        display: flex;
        justify-content: center;
        max-height: 1200px;
        margin: 0;
        width: calc(100% - 20px);
        height: calc(100% - 100px);
        gap: 20px;        
    }
    .project_wraper .cards .card{
        height: 600px;
    }
    .cards .card .label .info{
        font-size: .8em;
    }
    .cards .card .info .title{
        font-size: .9rem
    }
    .wraper{
        margin: .5em;
    }
}
@media only screen and (max-width: 600px){
    .cards .card .info .description{
        font-size: .6rem;
    }
    .cards .card .info .title{
        font-size: .6rem;
    }
    app-delete, app-edit{
        transform: scale(1.4);
    }    
    #title_project img{
        width: 80px;
        height: auto;
     }
}
@media only screen and (max-width: 450px){
    .cards .card .info .description{
        font-size: .5rem;
    }
    .cards .card .info .title{
        font-size: .5rem;
    }
}
@media only screen and (max-width: 300px){
    #title_project img{
       display: none;
     }
}
