<div class="box-new">
    <button *ngIf="onSet" class="btn btn-warning btn-edit" (click)="Set()">Setear Valores</button>
<hr>  
    <form [formGroup]="addSoft" (ngSubmit)="SaveSoft()">
        <div class="input-group mb-3">
            <span class="input-group-text">Tag</span>
            <input type="text" class="form-control" placeholder="Nombre de la etiqueta"
            formControlName="tag" required>
        </div>
        
        <div class="input-group mb-3">
            <span class="input-group-text">Porcentaje</span>
            <input type="number" class="form-control" placeholder="0-100"
            formControlName="porcentaje" min="1" max="100" required>
        </div>

        <div *ngIf="addSoft.invalid" class="text-danger mb-3">valores entre 1 al 100</div>

        <div class="input-group mb-3">
            <span class="input-group-text">Modal</span>
            <textarea class="form-control" id="modal-textarea" rows="3"
            placeholder="descripción de la habilidad blanda"
            formControlName="modal"></textarea>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Beneficio</span>
            <textarea class="form-control" id="beneficio-textarea" rows="3" placeholder="/opcional/ beneficio organizacional de la habilidad blanda"
            formControlName="beneficio"></textarea>
        </div>
        
        <input type="hidden" name="id"
        formControlName="id">

        <div class="col-12">
            <button type="submit" [class]="editMode? 'btn btn-warning':'btn btn-primary'" 
            [disabled]="addSoft.invalid">{{editMode? 'Editar Grafico':'Crear Grafico de Barras (+)'}}</button>
            <br>
        </div>
    </form>
</div> 