body{
  font-family: 'Catamaran', sans-serif;
  color: #010505;
  box-sizing: border-box;
  background-color: #EBFCFC;
}
h2{
  font-size: 2em;
  font-weight: bolder;
  text-shadow: 2px 2px 2px #118181;
}


h5 + h6{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;

}