body{
  font-family: 'Catamaran', sans-serif;
  color: #010505;
  box-sizing: border-box;
}
:root {  
  --color-1: #EBFCFC;  
  --color-2: #010505e7;
  --display-1: none;
  --display-2: flex;
  --display-3: none;
  --display-4: flex;
  --display-5: none;
  --display-6: inline;
  --display-7: none;
  --display-8: flex;
}
.page{
  background: var(--color-1);  
  transition: background .8s ease-in;
}
h2{
  font-size: 2em;
  font-weight: bolder;
  text-shadow: 5px 5px 5px #30E3E3;
  color: var(--color-2);
  transition: color .8s ease-in
}
h3{
  color: var(--color-2);
  transition: color .8s ease-in
}

h5 + h6{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;

}
