div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
}
img{
    position: relative;
    top: -15px;
    filter: drop-shadow(5px 8px 20px #F4ACAC);
    filter: drop-shadow(-5px -8px 20px #F4ACAC); 
}
